*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit
TAGS
.zig-cache/
.zig-global-cache/
zig-out/
compile_commands.json
generate_compile_commands.py
.clangd
build.zig
